* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #D72A1F;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2, h3, h4 {
  text-transform: capitalize;
}

h3 {
  font-size: 1.25rem;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.task-board {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  height: 100vh;
  justify-content: space-around;
  margin: auto;
  width: 1320px;
}

.column {
  background-color: #E3E4E6;
  height: 90vh;
  min-height: 600px;
  overflow-y: scroll;
  padding: 5px 10px;
  width: 350px;
}

.task {
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  margin: 15px 0;
  padding: 10px 15px 15px;
  text-transform: capitalize;
}

.task .assigned {
  margin: 15px 0 5px;
  position: relative;
}

.task .assigned button {
  position: absolute;
  right: 0;
  top: 0;
}

.task .assigned button:hover {
  text-decoration: underline;
}

.task .dropdown {
 background-color: #DDD;
 border-radius: 5px;
 max-height: 0;
 overflow-y: scroll;
 transition: max-height 0.5s ease;
}

.task .dropdown.show {
 background-color: #DDD;
 border-radius: 5px;
 max-height: 190px;
 overflow-y: scroll;
}

.task .dropdown form label {
  align-items: center;
  display: flex;
}

.task .dropdown form label input{
  margin: 0 5px;
}

.person-card {
  display: inline-flex;
  flex-direction: column;
  margin: 5px 0;
  padding: 0 15px 0 5px;
}

.person-card.design {
  border-left: 4px solid #00DC09;
}

.person-card.development {
  border-left: 4px solid #FF0000;
}

.person-card .name {
  font-weight: bold;
}

.person-card .department {
  color: #333;
}
